@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');
@import "tailwindcss";





:root {
  

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #e5e3e3; */


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: auto;
}

body {
  background-color: white;
  background-size: cover;
  font-family: 'Plus Jakarta Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.modal-content::-webkit-scrollbar {
  display: none;               /* Chrome, Safari, Opera */
}
.modal-content {
  -ms-overflow-style: none;    /* IE and Edge */
  scrollbar-width: none;       /* Firefox */
}

/* hide-scrollbar class */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}
